# MACOS DIRS

.DS_Store

/Applications
/Desktop
/Downloads
/Documents
/Library
/Movies
/Music
/Pictures
/Public
/.CFUserTextEncoding
/.Trash

# gitdir
/.git

# Local Software
/.local
/.zlogin

# Binaries (built with ./script/build-bin)
/bin/gn

# GOPATH
/go

# Projects
/local-docs
/proj

# Sensitive files
/.aws/cli/
/.aws/credentials
/.aws/sso/
/.backups
/.gnupg
/.kube
/.netrc
/.sem.yaml
/.ssh

# Config
/.config/asciinema/install-id
/.config/configstore
/.config/htop
/.config/iterm2
/.config/psysh
/.config/wireshark
/.config/yarn

# History Files
/.chezscheme_history
/.config/ghc/ghci_history
/.ghc/ghci_history
/.history
/.lesshst
/.mysql_history
/.node_repl_history
/.psql_history
/.python_history
/.rediscli_history
/.sqlite_history
/.zcompcache
/.zsh_history
/.zsh_sessions

# Bazel
/.bazel
/bin/bazel

# Miscellaneous Junk
/.3T
/.BurpSuite
/.azure
/.cache
/.cargo
/.composer/cache
/.composer/keys*
/.composer/vendor
/.cups
/.docker
/.drush
/.lando
/.linkerd2
/.lldb
/.m2
/.node
/.node-gyp
/.npm
/.op
/.rustup
/.stack
/.subversion
/.terminus
/.terraform.d
/.ts_node_repl_history
/.vault-token
/.viminfo
/.yarn
/.yarnrc
/.yarnrc.yml
/.zcompdump
