[submodule ".vim/pack/default/start/editorconfig-vim"]
	path = .vim/pack/default/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/default/start/vim-commentary"]
	path = .vim/pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/default/start/vim-surround"]
	path = .vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
