[submodule ".vim/pack/default/start/vim-surround"]
	path = .vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/default/start/editorconfig-vim"]
	path = .vim/pack/default/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/default/start/vim-commentary"]
	path = .vim/pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/default/start/vim-fugitive"]
	path = .vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
