# MACOS DIRS

.DS_Store

/Applications
/Desktop
/Downloads
/Documents
/Library
/Movies
/Music
/Pictures
/Public
/.CFUserTextEncoding
/.Trash

# gitidr
/.git

# Local Software
/.local

# Binaries (built with ./script/build-bin)
/bin/gn

# GOPATH
/go

# Projects
/proj

# Cellar Door Media
/cdm

# Sensitive files
/.aws/cli/
/.aws/credentials
/.aws/sso/
/.kube
/.netrc
/.sem.yaml
/.ssh

# Config
/.config/configstore
/.config/iterm2
/.config/psysh
/.config/wireshark
/.config/yarn

# History Files
/.chezscheme_history
/.history
/.lesshst
/.node_repl_history
/.psql_history
/.python_history
/.rediscli_history
/.sqlite_history

# Miscellaneous Junk
/.3T
/.BurpSuite
/.cache
/.cargo
/.composer/cache
/.composer/keys*
/.composer/vendor
/.cups
/.docker
/.drush
/.lando
/.linkerd2
/.node-gyp
/.npm
/.op
/.rustup
/.subversion
/.terminus
/.terraform.d
/.ts_node_repl_history
/.vault-token
/.viminfo
/.yarn
/.yarnrc
/.zcompdump
