[submodule ".vim/pack/default/start/vim-surround"]
	path = .vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/default/start/editorconfig-vim"]
	path = .vim/pack/default/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/default/start/vim-commentary"]
	path = .vim/pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/default/start/vim-fugitive"]
	path = .vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/default/start/vim-python-pep8-indent"]
	path = .vim/pack/default/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule ".vim/pack/default/start/vim-eunuch"]
	path = .vim/pack/default/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/pack/default/start/vim-repeat"]
	path = .vim/pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".config/nvim/pack/default/start/vim-surround"]
	path = .config/nvim/pack/default/start/vim-surround
	url = http://github.com/tpope/vim-surround
[submodule ".config/nvim/pack/default/start/vim-fugitive"]
	path = .config/nvim/pack/default/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule ".config/nvim/pack/default/start/vim-commentary"]
	path = .config/nvim/pack/default/start/vim-commentary
	url = http://github.com/tpope/vim-commentary
[submodule ".vim/pack/default/start/vim-speeddating"]
	path = .vim/pack/default/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/pack/default/start/vim-graphql"]
	path = .vim/pack/default/start/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule ".vim/pack/default/start/YouCompleteMe"]
	path = .vim/pack/default/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/pack/default/start/ale"]
	path = .vim/pack/default/start/ale
	url = https://github.com/dense-analysis/ale.git
